@model IEnumerable<SpedizioniNazionali.Models.Utente>

@{
    ViewBag.Title = "Index";
}

<h2>Lista Utenti</h2>

<p class="btn btn-success">
    <a href="~/Utente/Registazione" class="text-decoration-none text-white mt-3">Aggiungi Utente</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDUtente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cognome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ruolo)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDUtente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cognome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ruolo)
        </td>
    </tr>
}

</table>
